<h1>Nuevo Cliente</h1>

<%= form_for @client, url: clients_path do |f| %>
  <p>
    <%= f.label :Nombre %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :Empresa %><br>
    <%= f.text_field :company %>
  </p>
  <p>
    <%= f.label :Correo %><br>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :Telefono %><br>
    <%= f.text_field :phone %>
  </p>
  <p>
    <select name="client[sector_id]">
        <option value="">Sector Economico</option>
        <% @sectors.each do |sector| %>
            <option <%= @client.sector_id == sector.id ? 'selected': '' %> value="<%= sector.id %>"><%= sector.name %></option>
        <% end %>
    </select>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

